{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input  name='symbol' list="datalist" autocomplete='off' class="form-control" placeholder="Symbol or Name" id="livebox" required>
            <datalist id = "datalist"></datalist>
        </div>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="Number of shares" type="number" min='0' required>
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
<!--https://github.com/ahmetbcakici/LiveSearchINFlask-->
{% block script %}
     $(document).ready(function(){
        $("#livebox").on("input",function(e){
            var valueT = $("form").serializeArray();
            valueT = valueT[0]["value"];
            console.log(valueT);
            var emptyT = "";
            if( valueT.localeCompare(emptyT)=== 0){
                $("#datalist").empty();
            }else{
                $("#datalist").empty();
                $.ajax({
                    method:"post",
                    url:"/livesearch",
                    data:{text:$("#livebox").val()},
                    success:function(res){
                        var data = " ";
                        $.each(res,function(index,value){
                            data += value;
                        });
                        $("#datalist").html(data);
                    }
                });
            }
        });
    });
{% endblock %}