{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <div>
        A share of {{ name }} ({{ symbol }}) costs {{ price }}.
    </div>
    <div>
        {{ data|safe }}
    </div>

    <div>
        <h5>{{ date }}'s Stats</h5>
        Open: ${{ openS }}<br>
        Close:
        {% if close == None %}
            $---.--
        {% else %}
            ${{ close }}
        {% endif %}<br>
        High: ${{ high }}<br>
        Low: ${{ low }}<br>
    </div>
{% endblock %}