{% extends "layout.html" %}

{% block title %}
    Group Register
{% endblock %}

{% block main %}
    <form action="/groups_register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="group_name" placeholder="Group name" type="text" required>
        </div>
        <div id="id">
            Your group ID is {{ key }}
            <input id='key' name='key' type='text' value={{ key }}>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}